<!doctype html>  
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    </head>
    <body>
        <h1>URL Shortener Microservice - FCC</h1>

        <h3>You will be redirected to: <%= url %></h3>
        Press Continue if the link is correct.
        <div class="container-btn">
            <a class="btn-redirect" id="btn-continue" href="<%= url %>">Continue</a>
            <a class="btn-redirect" id="btn-home" href="/" >Home</a>
        </div>
    </body>
</html>